/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.popUp {
    padding: 5px;
    margin: 5px;
}

.heading {
    font-size: 14px;
    
}


.icon {
    margin-right: 5px;
    margin-left: 7px;
}

.icon2 {
    margin-right: 5px;
}

.location {
    font-size: 17px;
}

.spacing {
    margin-bottom: -15px;

}

.img {
    padding: 10px;

}

.image {
    width: 180px;
    height: auto;
    padding-bottom: 5px;
}




